<script th:inline="javascript" th:fragment="dailyBehaviorChart">
		
		var daily_behavior = [[${behavior}]];
		var b_rule = daily_behavior.map(function(data){return data.rule_no});
		var b_count = daily_behavior.map(function(data) {return data.count});

		
		
		
		const ctx2 = document.getElementById('dailyBehaviorChart');
						new Chart(ctx2, {
						    type: 'pie',
						    data: {
						      datasets: [{
				//		        label: '# of Votes',
								label: b_rule ,
						        data: b_count,
					//	        borderWidth: 1
						      }]
						    },
						    options: {
								plugins: {
								    title: {
								        display: true,
								        text: 'Daily Behavior Chart',
										font: {
										    size: 12 // 제목의 글꼴 크기 설정
										},
								    }
								},
			//					indexAxis: 'y',
							  }
							  }
							  )
		
	</script>