<script th:inline="javascript" th:fragment="dailyPatternChart">
		
		var daily_pattern = [[${pattern}]];
		var p_rule =  daily_pattern.map(function(data){return data.rule_no});
		var p_count =  daily_pattern.map(function(data) {return data.count});
		

		
		const ctx1 = document.getElementById('dailyPatternChart');
						new Chart(ctx1, {
						    type: 'pie',
						    data: {

						      datasets: [{
						        label: p_rule, 
						        data: p_count ,
						        borderWidth: 1,
								backgroundColor: ['rgba(255,99,132,0.2)', 'rgba(54,162,235,0.2)' ],
								borderdColor: ['rgba(255,99,132,0.2)', 'rgba(54,162,235,0.2)' ]
						      }]
						    }, 

						    options: {
								plugins: {
								    title: {
								        display: true,
								        text: 'Daily Pattern Chart',
										font: {
										    size: 12 // 제목의 글꼴 크기 설정
										},
								    }
								},
		//						indexAxis: 'y',
							  }
							  })
		
</script>