<script th:inline="javascript" th:fragment="TodayPatternChart">
	var list3 = [[${b_date}]];
	var type3 = list3.map(function(data){return data.date});
	var count3 = list3.map(function(data) {return data.count});
	
	var list4 = [[${p_date}]];
	var type4 = list4.map(function(data){return data.date});
	var count4 = list4.map(function(data){return data.count});
	
	const ctx3 = document.getElementById('myChart3');
					new Chart(ctx3, {
						  type: 'line',
						  data: {
						    labels: type3,
						    datasets: [{ 
						        data: count3,
						        label: "행동: "+ [[${week_behavior_count}]],
						        borderColor: "#3e95cd",
						        fill: false
						      }, { 
						        data: count4,
						        label: "패턴: " + [[${week_pattern_count}]],
						        borderColor: "#c45850",
						        fill: false
						      }
						    ]
						  },
						  options: {
						    title: {
						      display: true,
						    }
						  }
						});
	
</script>