<script th:inline="javascript" th:fragment="weekLineChart">
	var week_behavior = [[${week_behavior}]];
	var type3 = week_behavior.map(function(data){return data.date});
	var count3 = week_behavior.map(function(data) {return data.count});
	
	var week_pattern = [[${week_pattern}]];
	var type4 = week_pattern.map(function(data){return data.date});
	var count4 = week_pattern.map(function(data){return data.count});
	
	const ctx3 = document.getElementById('weekLineChart');
					new Chart(ctx3, {
						  type: 'line',
						  data: {
						    labels: type3,
						    datasets: [{ 
						        data: count3,
						        label: "행동: "+ [[${week_behavior_count}]],
						        borderColor: "#3e95cd",
								tension: 0.3,
								pointRadius: 3,
						        fill: false
						      }, { 
						        data: count4,
						        label: "패턴: " + [[${week_pattern_count}]],
						        borderColor: "#c45850",
								tension: 0.3,
								pointRadius: 3,
						        fill: false
						      }
						    ]
						  },
						  options: {
						    title: {
						      display: true,
						    }
						  }
						});
	
</script>