    <script th:fragment="js1" src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script th:fragment="js2" src="/js/scripts.js"></script>
    <script th:fragment="js3" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script th:fragment="js4" src="/assets/demo/chart-area-demo.js"></script>
    <script th:fragment="js5" src="/assets/demo/chart-bar-demo.js"></script>
    <script th:fragment="js6" src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" wcrossorigin="anonymous"></script>
    <script th:fragment="js7" src="/js/datatables-simple-demo.js"></script>
    <script th:fragment="js8" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script th:fragment="js9" src="/js/ajax.js"></script>	<!-- 비동기 관련 자바스크립트 파일 -->
	<script th:fragment="js10" src="/js/scripts2.js"></script>	<!-- 비동기 관련 자바스크립트 파일 -->
	<script th:fragment="js11" src="/js/ajax2.js"></script>	<!-- 비동기 관련 자바스크립트 파일 -->
	