<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{layout/head :: head}"></head>

<body>
	<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
	    data-sidebar-position="fixed" data-header-position="fixed">
	    <!-- sidebar-->
	    <aside th:replace="~{/layout/body :: sidebar}"></aside>

	    <!--  Main wrapper -->
	    <div class="body-wrapper">
	        <!--  Header Start -->
	        <header class="app-header">
	            <nav class="navbar navbar-expand-lg navbar-light">
	                <h1 class="my-4">정책관리</h1>
	                <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
	                </div>
	            </nav>
	        </header> <!--  Header End -->
	
	<!-- Main Content -->
	<div class="container-fluid">
	       <!--  Row 1 -->
	       <div class="row">
			<div class="col-lg-6 d-flex align-items-stretch">
				<div class="card w-100">
				    <div class="card-body p-4">
                        <form action="insertuser" method="post" id="myForm">
                            <table class="styled-table">
                                <thead>
                                    <tr>
                                        <th>항목</th>
                                        <th>입력</th>
                                    </tr>
                                </thead>
                                <tbody>
									<tr>
									    <td><label for="user_id">유저 아이디</label></td>
									    <td><input type="text" name="user_id"></td>
									</tr>
                                  
                                    <tr>
                                        <td><label for="login_id">로그인 아이디</label></td>
                                        <td><input type="text"  name="login_id"></td>
                                    </tr>
                                    <tr>
                                        <td><label for="password">로그인 패스워드</label></td>
                                        <td><input type="password"  name="password"></td>                                      
                                    </tr>
                                     <tr>
                                        <td><label for="user_privilege">사용자 권한</label></td>
                                        <td><input type="text"  name="user_privilege"></td>
                                    </tr>
                                    <tr>
                                        <td><label for="user_name">사용자 이름</label></td>
                                        <td><input type="text"  name="user_name"></td>                                      
                                    </tr>
                       
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="2">
                                            <input type="submit" value="유저 추가">
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </form>
				    </div>
				</div>
			</div>
	       </div>
	</div>
		

    <script th:replace="~{/layout/js :: js1}"></script>
    <script th:replace="~{/layout/js :: js2}"></script>
    <script th:replace="~{/layout/js :: js3}"></script>
    <script th:replace="~{/layout/js :: js4}"></script>
    <script th:replace="~{/layout/js :: js5}"></script>
    <script th:replace="~{/layout/js :: js6}"></script>
    <script th:replace="~{/layout/js :: js7}"></script>
    <script th:replace="~{/layout/js :: js8}"></script>
    <script th:replace="~{/layout/js :: js9}"></script>
</body>

</html>
