<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	
<head th:insert="~{layout/head :: head}"></head>

<body>
	<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
	    data-sidebar-position="fixed" data-header-position="fixed">
	    <!-- sidebar-->
	    <aside th:replace="~{/layout/body :: sidebar}"></aside>

	    <!--  Main wrapper -->
	    <div class="body-wrapper">
	        <!--  Header Start -->
	        <header class="app-header">
	            <nav class="navbar navbar-expand-lg navbar-light">
	                <h1 class="my-4">유저추가</h1>
	                <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
	                </div>
	            </nav>
	        </header> <!--  Header End -->
			
			<!-- Main Content -->
			<div class="container-fluid">
			       <!--  Row 1 -->
			       <div class="row">
					<div class="col-lg-6 d-flex align-items-stretch">
						<div class="card w-100">
						    <div class="card-body p-4">
									<form action="/modifyUser" method="get" id="myForm"> 				
										<table style="text-align: center;"> 
											<thead>
												<tr>
													<th>유정</th>
													<th>내용</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>사용자 아이디</td>
													<td><input type="text" name="user_id" th:value="${user_id}"></td>
													
												</tr>
													
												<tr>
													<td>로그인 아이디</td>
													<td><input type="text" name="login_id" th:value="${login_id}"> </td>
												</tr>
												<tr>
													<td>패스워드</td>
													<td><input type="password" name="password" th:value="${password}"></td>
												<tr>

												
												<tr>
													<td>사용자이름</td>
													<td><input type="text" name="user_name" th:value="${user_name}"></td>
												</tr>
												
												
												<tr>
													<td>사용자권한</td>
													<td><input type="text" name="user_privilege" th:value="${user_privilege}"></td>
												</tr>
																  
											</tbody>
											<tfoot>
												 <input type="submit" value="유저 수정">	
											</tfoot>
										</table>
										</form>
												    </div>
												</div>
											</div>
									       </div>
									</div>
   
	<script th:replace="~{/layout/js :: js1}"></script>
	<script th:replace="~{/layout/js :: js2}"></script>
	<script th:replace="~{/layout/js :: js3}"></script>
	<script th:replace="~{/layout/js :: js4}"></script>
	<script th:replace="~{/layout/js :: js5}"></script>
	<script th:replace="~{/layout/js :: js6}"></script>
	<script th:replace="~{/layout/js :: js7}"></script>
	<script th:replace="~{/layout/js :: js8}"></script>
	<script th:replace="~{/layout/js :: js9}"></script>
</body>

</html>