<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{layout/header :: header}"></head>

	<!--navigation-->
	<div th:replace="~{/layout/body :: navigation}"></div>	
	<!-- sidebar-->
	<div th:replace="~{/layout/body :: sidebar}"></div>	

	<div class="container">
		<div class="chartbox3">
			<span>주간 로깅 통계</span>
		    <div class="myChart3"><canvas id="myChart3" width="1250px" height="200px"></canvas></div>
		</div>
	
  		<fieldset class="pattern_count_box">
  			<legend><span>패턴</span></legend>
  			<span th:text="${today_pattern_count}"></span> 건
  		</fieldset>

		<div class="chartbox1">
  			<canvas id="myChart1"></canvas>
 	 	</div>	
  
  		<fieldset class="behavior_count_box">
 		 	<legend><span>행동</span></legend>
  			<span th:text="${today_behavior_count}"></span> 건
		</fieldset>
  
 		<div class="chartbox2">
  			<canvas id="myChart2"></canvas>
		</div>	
  
		<div class="chartbox4">
  			<canvas id="myChart4"></canvas>
		</div>
  
		<table border="1" class="logging-table">
			<caption>최근 로깅 5건</caption>
			<thead>
			<tr>
				<th>타입</th>
				<th>정책번호</th>
				<th>도착 IP</th>
				<th>로깅 시간</th>
				<th>Payload</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="loggingTable, iterstat : ${loggingTable}">
				<td th:text="${loggingTable.type}"> </td>
				<td th:text="${loggingTable.rule_no}"> </td>
				<td th:text="${loggingTable.src_ip}"> </td>
				<td th:text="${loggingTable.time_stamp}"> </td>
				<td>조회 </td>
			</tr>
  	</table>
  <div>
	
	
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>	
	<!-- week log chart -->
	<script th:replace="~{/js/weekchart :: weekchart}"></script>
	<!-- daily behavior log chart-->
	<script th:replace="~{/js/TodayBehaviorChart :: TodayBehaviorChart}"></script>
	<!-- daily pattern log chart-->
	<script th:replace="~{/js/TodayPatternChart :: TodayPatternChart}">	</script>
	<!--ip log chart -->
	<script th:replace="~{/js/ipLogChart :: ipLogChart}">	</script>
			
</body>
</html>
